<div class="welcome-card">
  <div class="welcome-card-content">
    <h1>Welcome To Nexus Uploader</h1>
    <p>A friendly web application that helps you to upload your libraries into the nexus repository</p>
    <p>Please Choose the correct build tool</p>
  </div>
</div>
<div class="build-tools-cards">
  <div class="card">
    <img src="../../../assets/maven-logo.png">
    <button>Upload File</button>
  </div>
  <div class="card">
    <img src="../../../assets/npm-logo.png">
    <button>Upload File</button>
  </div>
</div>
